@import url("https://use.typekit.net/anp1iqw.css");
html,
body {
  font-family: "ff-good-web-pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #020202;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  padding: 0;
  margin: 0;
  position: relative;
}

p {
  font-size: 1.2rem;
  line-height: 1.5em;
}

.hero--inner h1, h1 {
  font-size: clamp(60px, 32px + 6vw, 128px);
  font-weight: 900;
  line-height: 0.85em;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 0;
}
header nav {
  padding: 30px 80px;
  display: flex;
}
@media (max-width: 992px) {
  header nav {
    padding: 30px 60px;
  }
}
@media (max-width: 600px) {
  header nav {
    padding: 30px 20px;
  }
}
header nav #header-logo {
  width: 20vw;
  height: 100%;
  max-width: 200px;
  min-width: 100px;
  object-fit: contain;
}
header nav .nav-right {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.hero {
  background-size: cover;
  aspect-ratio: 16/9;
  padding: 60px 80px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}
@media (max-width: 992px) {
  .hero {
    padding: 60px 60px;
    aspect-ratio: 1.5/1;
  }
}
@media (max-width: 600px) {
  .hero {
    padding: 60px 20px;
  }
}
.hero:before {
  content: "";
  background: linear-gradient(110deg, rgba(2, 2, 2, 0.8), rgba(2, 2, 2, 0.1));
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero--inner {
  position: relative;
  z-index: 1;
  mix-blend-mode: screen;
}
.hero--inner h1 {
  font-family: "ff-good-headline-web-pro", sans-serif;
  color: #ffffff;
  margin-bottom: 40px;
  position: relative;
}
.hero--inner h1:after {
  content: "";
  background: linear-gradient(90deg, #ffffff 55%, 0, transparent 60%, 0, #ffffff 70%, 0, transparent 75%, 0, #ffffff 85%, 0, transparent 90%, 0, #ffffff);
  display: block;
  width: 25%;
  height: 1px;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.hero--inner .subhead {
  color: #ffffff;
  font-family: ff-good-headline-web-pro-ext, sans-serif;
  font-weight: 200;
  font-size: clamp(20px, 20px + 2vw, 58px);
  line-height: 1em;
  margin-top: 0;
}

.stats-callout {
  background: #002341;
  padding: 60px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (max-width: 992px) {
  .stats-callout {
    padding: 60px 60px;
  }
}
@media (max-width: 600px) {
  .stats-callout {
    padding: 60px 20px;
  }
}
.stats-callout--item {
  font-size: 1.3rem;
  text-align: center;
  margin: 10px auto;
}
.stats-callout--item-top {
  color: #ff0039;
  font-weight: 800;
  margin-bottom: 0.3em;
}
.stats-callout--item-bottom {
  color: #ffffff;
  font-size: 0.9em;
}

.program-section {
  background: #ffffff;
  padding: 120px 80px;
}
@media (max-width: 992px) {
  .program-section {
    padding: 100px 60px;
  }
}
@media (max-width: 600px) {
  .program-section {
    padding: 80px 20px;
  }
}
.program-section.section-secondary {
  background: rgba(178, 221, 255, 0.3);
}
.program-section h2 {
  font-size: clamp(2rem, 1rem + 3vw, 3rem);
  color: #002341;
  margin-bottom: 1.5em;
  position: relative;
}
.program-section h2:after {
  content: "";
  background: linear-gradient(90deg, #002341 55%, 0, transparent 60%, 0, #002341 70%, 0, transparent 75%, 0, #002341 85%, 0, transparent 90%, 0, #ffffff);
  display: block;
  width: 10%;
  height: 1px;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: -0.6em;
}
.program-section ul {
  font-size: 1.3rem;
  columns: 2;
  padding-left: 0;
  list-style-type: none;
}
@media (max-width: 600px) {
  .program-section ul {
    columns: 1;
  }
}
.program-section ul li {
  margin-bottom: 1em;
  line-height: 1.3em;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.program-section ul li:before {
  content: "";
  display: inline-flex;
  background: #ff0039;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin-right: 1.5ch;
  flex-basis: 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

.btn {
  padding: 20px 30px;
  text-decoration: none;
  font-weight: 900;
  font-family: "ff-good-headline-web-pro", sans-serif;
  display: inline-flex;
  width: auto;
  height: auto;
}
.btn:after {
  content: url(/images/arrow-right.svg);
  width: 0.7em;
  height: 0.5em;
  object-fit: contain;
  margin-left: 1ch;
  transition: 0.1s ease-in-out;
}
.btn:hover:after {
  transform: translateX(0.8ch);
  transition: 0.3s ease-in-out;
}
.btn.btn-red {
  background: #ff0039;
  color: #ffffff;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn {
  margin-left: 15px;
}
