footer {
    padding: 60px 80px 0;
    background: $blue;
    color: $white;
    position: relative;
    display: block;
    filter: drop-shadow(0 -2px 2px rgba($black, .3));

    &:before {
        content: '';
        height: 5px;
        width: 100%;
        background-color: $red;
        display: block;
        position: absolute;
        top: -7px;
        left:0;
        right:0;
    }

    @include md {
        padding: 60px 60px 0;
    }

    @include vs {
        padding: 60px 20px 0;
    }

    &:after {
        content: '';
        background: url('../images/usca_logo_screen.svg') no-repeat;
        background-size: contain;
        background-position: bottom right;
        width: 100%;
        height: 100%;
        display: block;
        aspect-ratio: 1;
        max-width: 50%;
        max-height: 90%;
        position: absolute;
        right: 0%;
        bottom: 5%;
        top: 5%;
        opacity: .03;
        pointer-events: none;

        @include md {
            background-position: center right;
        }

        @include vs {
            max-width: 60%;
            background-position: bottom right;
            bottom: 20px;

        }
    
    }

    h2 {
        text-align: center;
        margin-bottom: 1em;
        font-family: $headline-cond;
        font-weight: 100;
        font-size: clamp(3rem, calc(1rem + 4vw), 5rem);
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: inherit;
        }
    }

    .btn-group {
        @include vs {
            flex-direction: column;
        }

        .btn {
            font-size: 1.3rem;

            @include vs {
                padding: 15px 25px;

            }
        }
    }

    .copyright {
        border-top: 1px solid rgba($sky, .3);
        margin-top: 120px;
        padding: 15px 20px;
        text-align: center;
        margin-bottom: 0;
        font-size: .8rem;

        @include vs {
            a {
                display: block;
            }
        }
    }

}