.hero {
    background-image: url('../images/biogeo.png');
    background-size: cover;
    aspect-ratio: 16/9;
    padding: 60px 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    @include md {
        padding: 60px 40px;
        aspect-ratio: 1.5/1;
    }
    @include vs {
        padding: 60px 20px;
        aspect-ratio: 1;
        background-image: url('../images/biogeo-sq.png');
    }

    &:before {
        content: '';
        background: linear-gradient(110deg, rgba($black, .8), rgba($black, .1));
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &--inner {
        position: relative;
        z-index: 1;
        mix-blend-mode: screen;

        h1 {
            @extend %h1;
            font-family: $headline;
            color: $white;
            margin-bottom:40px;
            position: relative;
            &:after {
                content: '';
                background: linear-gradient(90deg, $white 55%, 0, transparent 60%, 0, $white 70%, 0, transparent 75%, 0, $white 85%, 0, transparent 90%, 0, $white);
                display: block;
                width: 25%;
                height:1px;
                opacity: .5;
                position: absolute;
                left: 0;
                bottom:-20px;
            }

        }
        .subhead {
            color: $white;
            font-family: $headline-cond;
            font-weight: 200;
            font-size: clamp(20px, calc(20px + 2vw), 58px);
            line-height: 1em;
            margin-top:0;

        }
    }
    .hero-cta {
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right:0;
        text-align: right;
        padding:40px 80px;
    }
}

.stats-callout {
    border-top: 5px solid $red;
    background: $blue;
    padding: 60px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    @include md {
        padding: 60px 40px;
    }
    @include vs {
        padding: 60px 20px;
    }
    &--item {
        font-size: 1.5rem;
        text-align: center;
        margin: 10px auto;
        @include md {
            font-size: 1.4rem;
        }
        &-top {
            color: $red;
            font-weight: 800;
            margin-bottom: .3em;
        }
        &-bottom {
            color: $white;
            font-size: .8em;
        }
    }
}
.program-section {
    background: $white;
    padding: 120px 80px;

    @include md {
        padding: 100px 40px;
    }
    @include vs {
        padding: 80px 20px;
    }
    &.section-secondary {
        background: linear-gradient(90deg, rgba($pool, .1), rgba($sky, .3));
    }
    h2 {
        font-size: clamp(2.5rem, calc(1rem + 3vw), 3.5rem);
        line-height: 1em;
        font-family: $headline;
        color: $blue;
        margin-bottom: 1.5em;
        position: relative;
        &:after {
            content: '';
            background: linear-gradient(90deg, $blue 55%, 0, transparent 60%, 0, $blue 70%, 0, transparent 75%, 0, $blue 85%, 0, transparent 90%, 0, $white);
            display: block;
            width: 8%;
            height:1px;
            opacity: .5;
            position: absolute;
            left: 0;
            bottom:-.6em;
        }
    }
    ul {
        font-size: 1.3rem;
        columns: 2;
        padding-left:0;
        list-style-type: none;
        @include vs {
            columns: 1;
        }
        li {
            margin-bottom: 1em;
            line-height: 1.3em;
            position: relative;
            display: inline-flex;
            align-items: center;
            &:before {
                content: '';
                display: inline-flex;
                background: $red;
                border-radius: 100%;
                width: 15px;
                height: 15px;
                margin-right: 1.5ch;
                flex-basis: 15px;
                flex-grow:0;
                flex-shrink: 0;
            }
        }
    }
}