//Colors 

$white: #ffffff;
$red: #ff0039;
$blue: #002341;
$black: #020202;
$gray: #545454;
$pool: #00bed6;
$sky: #b2ddff;
$pink: #d72fa8;
$yellow: #ffb500;

$text: $black;


//Type 

$sans: "ff-good-web-pro", sans-serif;
$headline: "ff-good-headline-web-pro", sans-serif;
$headline-cond: ff-good-headline-web-pro-ext, sans-serif;
